<header class="navbar">
  <div class="logo-section">
    <img src="assets/logo.png" alt="Logo AncesIoT" class="logo" />
    <span class="brand">AncesIoT</span>
  </div>

  <nav class="menu">
    
    <div class="dropdown">
      <a routerLink="/gestion/agricola">Gestión Agrícola</a>
      <!-- <div class="dropdown-content">
        <a routerLink="/process/activity">Asignar actividades</a>
        <a routerLink="/view/process">Ver Procesos</a>
      </div> -->
    </div>

    <div class="dropdown">
      <a routerLink="/view/sensors">Dispositivos</a>
      <!-- <div class="dropdown-content">
        <a routerLink="/dispositivos/newsensor">Nuevo Sensor</a>
        <a routerLink="/view/sensors">Ver Sensores</a>
      </div> -->
    </div>





    <!-- <div class="dropdown">
      <a routerLink="">Dispositivos</a>
      <div class="dropdown-content">
        <a routerLink="/dispositivos/newsensor">Nuevo Sensor</a>
        <a routerLink="/view/sensors">Ver Sensores</a>
      </div>
    </div> -->

    <div class="dropdown">
      <a routerLink="/view/areas">Áreas de Producción</a>
      <!-- <div class="dropdown-content">
        <a routerLink="/areaproduccion/newarea">Nueva</a>
        <a routerLink="/view/areas">Ver áreas</a>
        <a routerLink="/view/area/puntos">Asignar puntos inteligentes</a>
      </div> -->
    </div>

    <div class="dropdown">
      <a routerLink="/view/procesos/iniciados">Procesos</a>
      <!-- <div class="dropdown-content">
        <a routerLink="/process/activity">Asignar actividades</a>
        <a routerLink="/view/process">Ver Procesos</a>
      </div>  -->
    </div>

    <div class="dropdown">
      <a routerLink="/view/reglas">Reglas</a>
    </div>


  </nav>
</header>
