.container {
  padding: 20px;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.sensor-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;

  th {
    background-color: #111;
    color: #fff;
    padding: 10px;
    text-align: left;
  }

  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
}

.button-group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

// Mueve estos afuera del .button-group
.btn {
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.add {
  background-color: #1d8c37;
}

.edit {
  background-color: #0062b3;
}

.delete {
  background-color: #b72d1d;
}

.gray {
  background-color: #5a5a5a;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  background-color: white;
  padding: 30px 20px;
  border-radius: 12px;
  text-align: center;
  width: 400px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

  h3 {
    margin-bottom: 20px;
    font-size: 20px;
  }
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .btn {
    width: 55%;
  }
}
