<app-header></app-header>

<h2>Procesos actuales</h2>

<table>
  <thead>
    <tr>
      <th>Proceso</th>
      <th>Etapa</th>
      <th>Finca</th>
      <th>Area de produccion</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
    </tr>
  </thead>
    <tbody>
      <tr *ngFor="let p of procesosIniciados">
        <td>{{ p.nombreProceso }}</td>
        <td>{{ p.nombreCultivo }}</td>
        <td>{{ p.nombreFinca }}</td>
        <td>{{ p.nombreArea }}</td>
        <td>{{ p.fechaInicio }}</td>
        <td>{{ p.fechaFin || '—' }}</td>
      </tr>
    </tbody>
</table>

<div class="botones">
  <button class="btn iniciar" (click)="iniciarProceso()">Iniciar proceso</button>
  <button class="btn finalizar" (click)="finalizarProceso()">Finalizar proceso</button>
  <button class="btn eliminar">Eliminar proceso</button>
</div>
