<app-header></app-header>

<h2>Procesos actuales</h2>

<table>
  <thead>
    <tr>
      <th>Proceso</th>
      <th>Etapa</th>
      <th>Finca</th>
      <th>Area de produccion</th>
      <th>Tipo Area</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>Text</td>
      <td>Text</td>
      <td>Text</td>
      <td>Text</td>
      <td>Text</td>
    </tr>
  </tbody>
</table>

<div class="botones">
  <button class="btn iniciar" (click)="iniciarProceso()">Iniciar proceso</button>
  <button class="btn finalizar">Finalizar proceso</button>
  <button class="btn eliminar">Eliminar proceso</button>
</div>
