<app-header></app-header>

<h2>Reglas</h2>

<div class="filters">
  <div class="filter">
    <label>PROCESOS INICIADOS</label>
    <select>
      <option selected disabled>Seleccione proceso</option>
    </select>
  </div>

  <div class="filter">
    <label>TIPO DE REGLA</label>
    <select>
      <option selected disabled>Seleccione tipo de regla</option>
    </select>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Regla</th>
      <th>Dispositivos asociados</th>
      <th>Parametro</th>
      <th>Condiciones</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Regla 1 detección riego</td>
      <td>Sensor 1, sensor 2, ....</td>
      <td>Humedad</td>
      <td>x &gt; 30, x &lt; 40</td>
      <td>Emitir alerta</td>
    </tr>
    <tr *ngFor="let i of [].constructor(10)">
      <td>Text</td>
      <td>Text</td>
      <td>Text</td>
      <td>Text</td>
      <td>Text</td>
    </tr>
  </tbody>
</table>

<div class="actions">
  <button class="add" (click)="agregarRegla()">Agregar nueva regla</button>
  <button class="edit">Editar regla</button>
  <button class="delete">Eliminar regla</button>
</div>

