<app-header></app-header>

<h2>Reglas</h2>

<div class="filters">
  <div class="filter">
    <label>PROCESOS INICIADOS</label>
    <select id="proceso" [(ngModel)]="procesoSeleccionadoId" (change)="onProcesoSeleccionado()">
    <!-- <select id="proceso" [(ngModel)]="procesoSeleccionadoId"> -->
        <option disabled selected value="">Seleccione proceso a finalizar</option>
        <option *ngFor="let process of procesosIniciados" [value]="process.id">
          {{ process.nombreFinca }} - {{ process.nombreProceso  }} - {{ process.nombreCultivo }} - {{ process.nombreArea }} - {{ process.fechaInicio }}
        </option>
    </select>
    <!-- <select>
      <option selected disabled>Seleccione proceso</option>
    </select> -->
  </div>

  <!-- <div class="filter">
    <label>TIPO DE REGLA</label>
    <select>
      <option selected disabled>Seleccione tipo de regla</option>
    </select>
  </div> -->
</div>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Nombre</th>
      <th>Actividad</th>
      <th>Dispositivo</th>
      <th>Propiedad</th>
      <th>Condicion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let regla of reglasPlanas">
      <td>{{ regla.tipo }}</td>
      <td>{{ regla.nombreRegla }}</td>
      <td>{{ regla.actividad }}</td>
      <td>{{ regla.nombreDispositivo }}</td>
      <td>{{ regla.propiedad }}</td>
      <td>{{ regla.operadorYValor }}</td>
    </tr>

  </tbody>
</table>


<div style="margin: 60px 0;"></div>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Nombre</th>
      <th>Dispositivo</th>
      <th>Propiedad</th>
      <th>Condicion</th>
      <th>Frecuencia a actualizar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let regla of reglasEnergeticas">
      <td>{{ regla.tipo }}</td>
      <td>{{ regla.nombreRegla }}</td>
      <td>{{ regla.nombreDispositivo }}</td>
      <td>{{ regla.propiedad }}</td>
      <td>{{ regla.operadorYValor }}</td>
      <td>{{ regla.frecuencia }}</td>
    </tr>

  </tbody>
</table>

<div class="actions">
  <button class="add" (click)="agregarRegla()">Agregar regla de deteccion</button>
  <button class="add" (click)="agregarRegla2()">Agregar regla de energia</button>
  <button class="edit">Editar regla</button>
  <button class="delete">Eliminar regla</button>
</div>

