.container {
  padding: 20px;

  h2 {
    margin-bottom: 20px;
  }

  .main-section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: flex-start;

    .formulario {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;

      label {
        font-weight: bold;
        font-size: 14px;
      }

      select,
      input[type='date'] {
        padding: 6px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background-color: white;
        width: 100%;
      }

      option[disabled] {
        color: #999;
      }

      .botones-formulario {
        margin-top: 20px;
        display: flex;
        gap: 60px;

        .btn-iniciar {
          padding: 10px 20px;
          background-color: #28a745; // verde
          color: white;
          font-weight: bold;
          border: none;
          border-radius: 8px;
          cursor: pointer;
        }

        .btn-cancelar {
          padding: 10px 20px;
          background-color: #dc3545; // rojo
          color: white;
          font-weight: bold;
          border: none;
          border-radius: 8px;
          cursor: pointer;
        }
      }

    }

    .image-box-container {
      width: 1200px;

      .box-contenido {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .image-box {
          flex: 1;
          height: 400px;
        //   width: 1200px;
          background-color: #d3d3d3;
          border: 2px solid #000;
          position: relative;  
          overflow: hidden; 
        }

        .lado-boton {
          margin-left: 20px;

          .asignar-btn {
            padding: 10px 20px;
            background-color: #0062b3;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 8px;
            cursor: pointer;
          }
        }
      }

    }

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        display: block;
      }
  }
}

.marcador-con-nombre {
  position: absolute;
  transform: translate(-50%, -100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;

  .marcador-icono {
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
  }

  .nombre-punto {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 4px;
    margin-top: 2px;
    white-space: nowrap;
  }
}
